<div id="topnav">
  <ul id="navigation">
    <li class="<%= 'selected' if params[:controller] == 'general' and params[:action] != 'frontpage'%>">
      <%= link_to _("Home"), frontpage_path %>
    </li>

    <li class="<%= 'selected' if params[:controller] == 'help' and params[:action] != 'requesting'%>">
      <%= link_to _("About Us"), help_about_path %>
    </li>

    <li class="<%= 'selected' if params[:controller] == 'help' and params[:action] == 'requesting'%>">
      <%= link_to _("How to Request"), help_requesting_path %>
    </li>

    <li class="<%= 'selected' if params[:controller] == 'public_body' or (params[:controller] == 'request' and !['list'].include?(params[:action])) %>">
      <%= link_to _("Make a Request"), list_public_bodies_default_path, :id => 'make-request-link' %>
    </li>

    <li class="<%= 'selected' if params[:controller] == 'request' and ['list'].include?(params[:action]) %>">
      <%= link_to _("Browse Requests"), request_list_all_url %>
    </li>

    <% unless AlaveteliConfiguration::blog_feed.empty? %>
      <li class="<%= 'selected' if params[:controller] == 'general' and params[:action] == 'blog' %>">
        <%= link_to _("Blog"), blog_path %>
      </li>
    <% end %>

    <li id="navigation_search">
      <form id="navigation_search_form" method="get" action="<%= search_redirect_path %>" role="search">
        <label class="visually-hidden" for="navigation_search_button">
          <%= _("Search") %>
        </label>
          <%= text_field_tag 'query', params[:query], { :id => "navigation_search_button", :type => "search", :placeholder => _("Search"), :title => _("type your search term here") } %>
          <button type="submit">
            <span class="visually-hidden">
              <%= _("Submit Search") %>
            </span>
          </button>
      </form>
    </li>
  </ul>
</div>
