<div id="right_column_flip">
    <h2>Ayuda</h2>
    <ul class="no_bullets">
        <li><%= link_to_unless_current "Quienes somos", "/help/about" %></li>
        <li><%= link_to_unless_current "Guía para solicitantes", "/help/requesting" %></li>
        <li><%= link_to_unless_current "Tu Privacidad", "/help/privacy" %></li>
        <li><%= link_to_unless_current "Información para Instituciones", "/help/officers" %></li>
        <li><%= link_to_unless_current "Búsqueda avanzada", "/advancedsearch" %></li>
        <li><%= link_to_unless_current "Condiciones de Uso", "/help/terms_of_use" %></li>
    </ul>

    <h2 id="contact">Contáctanos</h2>
    <p>Si tu pregunta no está resuelta aquí, o quieres hacernos llegar algún comentario sobre la web,  <a href="/help/contact">contáctanos</a>.
    </p>
</div>


